---
layout: default
title: Inicio
---


{% for post in site.posts %}

<article class='post'>
  <h1 class='post-title'>
    <a href="{{ site.path }}{{ post.url }}">
      {{ post.title }}
    </a>
  </h1>
  <div class="post-date"><span>
        {% assign m = post.date | date: "%-m" %}
          {{ post.date | date: "%-d" }} de
             {% case m %}
              {% when '1' %}enero
              {% when '2' %}febrero
              {% when '3' %}marzo
              {% when '4' %}abril
              {% when '5' %}mayo
              {% when '6' %}junio
              {% when '7' %}julio
              {% when '8' %}agosto
              {% when '9' %}septiembre
              {% when '10' %}octubre
              {% when '11' %}noviembre
              {% when '12' %}diciembre
            {% endcase %}
          de {{ post.date | date: "%Y" }}
      </span></div>
  
 {% if post.content contains '<!--more-->' %}
    {{ post.content | split:'<!--more-->' | first }}
  <a class="button" href="{{ post.url | relative_url }}" style="margin-top:1rem;margin-bottom:1rem;">
          Leer más
        </a>
{% else %}
    {{ post.content }}
{% endif %}
  
</article>

{% endfor %}

{% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme_settings.str_previous_page }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url | replace: '//', '/' }}" class="button" >
      {{ site.theme_settings.str_next_page }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}

