---
layout: default
---

<article class='post'>
  <h1 class='post-title'>{{ page.title }}</h1>
  <div class="post-date">  <span>
        {% assign m = page.date | date: "%-m" %}
          {{ page.date | date: "%-d" }} de
             {% case m %}
              {% when '1' %}enero
              {% when '2' %}febrero
              {% when '3' %}marzo
              {% when '4' %}abril
              {% when '5' %}mayo
              {% when '6' %}junio
              {% when '7' %}julio
              {% when '8' %}agosto
              {% when '9' %}septiembre
              {% when '10' %}octubre
              {% when '11' %}noviembre
              {% when '12' %}diciembre
            {% endcase %}
          de {{ page.date | date: "%Y" }}
      </span></div>
  {{ content }}
<div class="shareon" style="text-align:center; margin-top:2rem; margin-bottom:1rem;">
    <button class="facebook"></button>
    <button class="messenger"></button>
    <button class="pinterest"></button>
    <button class="telegram"></button>
    <button class="twitter"></button>
    <button class="whatsapp"></button>
</div>
<hr style="height:1px;border-width:0;color:gray;background-color:gray;margin-bottom:3rem;">
</article>
